@import "../../../../assets/styles/_colors.scss";
@import "../../../../assets/styles/_button.scss";
@import "../../../../assets/styles/common.scss";

#tax-details-wrapper {
	font-family: 'Montserrat', sans-serif;
	color: $text-color-light;
	background-color: $background-color-dark-light;
	height:100%;

	.input-form {
		text-align: left;
		font-weight: bold;
		padding: 10px;
		width:100%;
	}

	.taxType {
		display: flex;
		justify-content: left;
		font-weight: normal;
	}

	.table-wrapper{
		padding-left: 40px;
		padding-top: 40px;
	}
}
