<div id="invoice-details-wrapper">

	<div class="title-header">
		<span class="header-text">Recent Invoices</span>
		<div class="action-area">
			<a routerLink="New Invoice"><button class="btn button-save">New Invoice</button></a>
			<button class="btn button-filter">Export</button>
		</div>
		<p-toast [style]="{marginTop: '40px'}" position="top-center"></p-toast>
	</div>


	<div class="content-wrapper">
		<div class="table-wrapper">

			<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>


			<p-table #dt [columns]="tableHeaders" [value]="invoices">
				<ng-template pTemplate="caption">
					<div style="text-align: right">
						<i class="pi pi-search" style="margin:4px 4px 0 0"></i>
						<input type="text" pInputText size="50" placeholder="Search Invoices"
							(input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
					</div>
				</ng-template>
				<ng-template pTemplate="header">
					<tr>
						<th *ngFor="let tableHeader of tableHeaders" [pSortableColumn]="tableHeader.field">
							{{tableHeader.header}}
							<p-sortIcon [field]="tableHeader.field"></p-sortIcon>
						</th>
						<th>Actions</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-invoice>
					<tr>
						<td>{{ invoice?.invoiceNumber}}</td>
						<td>{{ invoice?.invoicedDate }}</td>
						<td>{{ invoice?.clientName }}</td>
						<td class="currencyDisplay"> {{ getSubAmount(invoice) }}</td>
						<td class="currencyDisplay"> {{ invoice?.totalAmount }}</td>
						<td class="currencyDisplay"> {{ invoice?.amountPaid }}</td>
						<td>
							<button type="button" class="btn button-primary" (click)="editInvoice(invoice.id)"><i
									class="pi pi-pencil"></i>
							</button>
							<button type="button" class="btn button-primary" (click)="printInvoice(invoice.id)"><i
								class="pi pi-print"></i>
							</button>
							<button type="button" class="btn button-cancel" (click)="deleteInvoice(invoice)">
								<i class="pi pi-trash"></i>
							</button>

						</td>
					</tr>

				</ng-template>
			</p-table>
		</div>
	</div>
</div>