@import "../../../../assets/styles/_colors.scss";
@import "../../../../assets/styles/_button.scss";
@import "../../../../assets/styles/common.scss";

#bill-details-wrapper {
	font-family: 'Montserrat', sans-serif;
	color: $text-color-dark;
	font-weight: bold;
	input {
		font-weight: bold;
	}
}

.wrapper-content {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	font-weight: bold;

	.input-form {
		width: 100%;
		margin: 40px;

		.table-wrapper {
			margin: 20px;
			width: 100%;
		}
		.print-header {
			text-align: center;
			border: 1px solid $border-color-dark;
			padding: 10px;
		}
		.billDetails {
			margin: 0 0 20px;
			border: 1px solid $border-color-dark;
			border-top: 0px;
			padding: 0px;

			.companyDetails {
				padding-left: 40px;
				#name {
					font-size: 1.5em;
				}
			}
			.vendorDetails {
				border-left: 1px solid $border-color-dark;

				.billData {
					border-bottom: 1px solid $border-color-dark;
				}
			}
		}

		.afterTableDetails {
			margin: 20px;

			.amount-details {
				padding-top: 20px;
				border: 1px solid $border-color-dark;

				input {
					text-align: right;
				}

				.amount {
					text-align: right;
				}
			}
		}
	}
}
