<div id="new-receipt-wrapper">
  <div class="title-header">
    <span class="header-text">Receipt Details</span>
  </div>

    <div class="input-form">
      <form [formGroup]="receiptInputForm">

        <div class="row">
          <div class="col">

            <div class="form-group row"
              [ngClass]="{'has-error':clientId.errors && (clientId.touched || clientId.dirty)}">
              <label class="col-sm-3 col-form-label" for="clientName">Client Name</label>
              <div class="col-sm-5">
                <select name="clientId" id="clientId" class="form-control" 
                formControlName="clientId" (change)="fetchClient($event)">
                  <option value="" [selected]="true">Select a Client</option>
                  <option *ngFor="let client of clients" value="{{ client.id }}">{{ client.name }}
                  </option>
                </select>
              </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="paymentRefNo">Payment Ref No.</label>
                <div class="col-sm-5">
                  <input type="text" id="paymentRefNo" class="form-control"
                    formControlName="paymentRefNo" disabled>
                </div>
              </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="amountPending">Amount Pending</label>
                <div class="col-sm-5">
                  <input type="text" id="amountPending" class="form-control"
                    formControlName="amountPending" disabled appCurrency>
                </div>
              </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="amountPaid">Amount Paid</label>
                <div class="col-sm-5">
                  <input type="text" id="amountPaid" class="form-control"
                    formControlName="amountPaid" appCurrency>
                </div>
              </div>

`
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="receiptDate">Receipt Date</label>
                <div class="col-sm-5">
                  <input type="date" id="receiptDate" class="form-control"
                    formControlName="receiptDate">
                </div>
              </div>


              <div class="form-group row">
                  <label class="col-sm-3 col-form-label" for="paymentMethod">Payment Method</label>
                  <div class="col-sm-5">
                    <select name="paymentMethod" id="paymentMethod" formControlName="paymentMethod"
                      class="form-control">
                      <option *ngFor="let receiptSystem of receiptSystems" value="{{receiptSystem}}">
                        {{receiptSystem}}</option>
                    </select>
                  </div>
                </div>

                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label" for="receiptNote">Receipt Note</label>
                    <div class="col-sm-5">
                      <textarea class="form-control" formControlName="receiptNote" id="receiptNote"
                        rows="3"></textarea>
                    </div>
                  </div>

          </div>
        </div>
      </form>
      <div class="action-buttons">
        <button type="button" class="btn button-save" (click)="saveReceipt()">Save</button>
        <button type="button" class="btn button-cancel" (click)="closeClicked()">Back</button>
    </div>
    </div>


    <div class="content-wrapper">
      <div class="table-wrapper">
        <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>

        <p-table #dt [columns]="tableHeaders" [value]="receipts">

          <ng-template pTemplate="caption">
            <div style="text-align: right">
              <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
              <input type="text" pInputText size="50" placeholder="Search Receiptes"
                (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
            </div>
          </ng-template>

          <ng-template pTemplate="header">
            <tr>
              <th *ngFor="let tableHeader of tableHeaders" [pSortableColumn]="tableHeader.field">
                {{tableHeader.header}}
                <p-sortIcon [field]="tableHeader.field"></p-sortIcon>
              </th>
              <th>Actions</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-receipt>
            <tr>
              <td>{{ receipt?.clientName }}</td>
              <td>{{ receipt?.clientContactName }}</td>
              <td>{{ receipt?.clientPhoneNumber}}</td>
              <td>{{ receipt?.amountPaid}}</td>
              <td>{{ receipt?.receiptDate}}</td>
              <td>{{ getReceiptType(receipt) }}</td>
              <td data-html2canvas-ignore>
                <button type="button" class="btn button-primary"><i
                  class="pi pi-search"></i></button>
              </td>
            </tr>
          </ng-template>

        </p-table>

      </div>
    </div>


  </div>