<div id="new-invoice-wrapper make-scrollable">
	<div class="title-header">
		<span id="header-text">Add New Invoice</span>
	</div>
	<div class="wrapper-content input-form">
		<form [formGroup]="invoiceInputForm">
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group row">
						<label class="col-sm-3 col-form-label" for="clientName">Client Name</label>
						<div class="col-sm-5">
							<select name="clientId" id="clientId" class="form-control" formControlName="clientId"
							(change)="setClientName($event)">
								<option selected>Select a Client</option>
								<option *ngFor="let client of clients" value="{{ client.id }}">{{ client.name }}</option>
							</select>
						</div>
						<div class="col-sm-4">
							<button type="submit" class="btn button-primary">New Client</button>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-3 col-form-label" for="invoiceDate">Invoice Date</label>
						<div class="col-sm-5">
							<input type="date" class="form-control" id="invoiceDate" formControlName="invoicedDate">
						</div>
					</div>
				</div>
			</div>

			<div class="table-wrapper">
				<table class="itemDetails table table-striped">
					<thead>
						<tr>
							<th *ngFor="let invoiceTableHeader of invoiceTableHeaders" scope="col">{{invoiceTableHeader}}</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let invoiceItem of invoiceItems">
							<td scope="col">{{ invoiceItem.itemName }}</td>
							<td scope="col">{{ invoiceItem.manufacturer }}</td>
							<td scope="col">{{ invoiceItem.quantity }}</td>
							<td scope="col">{{ invoiceItem.rate }}</td>
							<td scope="col">{{ getSubAmount(invoiceItem.rate,invoiceItem.quantity) }}</td>
							<td scope="col">{{ invoiceItem.discount}}</td>
							<td scope="col">{{ invoiceItem.stateTax + invoiceItem.countryTax }}</td>
							<td scope="col">{{ getTotalAmount(invoiceItem.rate,invoiceItem.quantity,invoiceItem.discount,
								invoiceItem.stateTax + invoiceItem.countryTax) }}</td>
							<td scope="col">{{ invoiceItem.offer }}</td>
							<td scope="col">{{ invoiceItem.itemMRP }}</td>
							<td>
								<button type="button" class="btn button-primary" (click)="editItem(invoiceItem)">View/Edit</button>
								<button type="button" class="btn button-cancel" (click)="deleteItem(invoiceItem)">Delete</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<button type="button" class="btn btn-primary" (click)="openItemModal()">Add New Item</button>

			<div class="afterTable">
				<div class="row">
					<div class="col col-md-8">
					</div>
					<div class="col cost-details col-md-4">
						<span class="cost-row">
							<label class="col-sm-6" for="subTotalAmount">SubTotal:</label>
							<span class="col-sm-6" id="subTotalAmount">{{ netAmount.subAmount }}</span>
						</span>
						<span class="cost-row">
							<label class="col-sm-6" for="totalTax">Tax:</label>
							<span class="col-sm-6" id="totalTax">{{ netAmount.taxAmount }}</span>
						</span>
						<!-- <span class="cost-row">
							<label class="col-sm-6" for="shippingCharge">Shipping Charge:</label>
							<span class="col-sm-6" id="shippingCharge"></span>
						</span> -->
						<span class="cost-row">
							<label class="col-sm-6" for="discount">Discount:</label>
							<span class="col-sm-6" id="discount">{{ netAmount.discountAmount }}</span>
						</span>
						<!-- <span class="cost-row">
							<label class="col-sm-6" for="priceRoundedOff">Rounded Off:</label>
							<span class="col-sm-6" id="priceRoundedOff"></span>
						</span> -->
						<span class="cost-row">
							<label class="col-sm-6" for="netAmount">Net Amount:</label>
							<span class="col-sm-6" id="netAmount">{{ netAmount.totalAmount }}</span>
						</span>
					</div>
				</div>
				<div class="row">
					<div class="col order-notes">
						<div class="form-group row">
							<label class="col-sm-4 col-form-label" for="orderNote">Order Notes</label>
							<div class="col-sm-8">
								<textarea class="form-control" formControlName="orderNote" id="orderNote" rows="3"></textarea>
							</div>
						</div>
					</div>
					<div class="col payment-details">
						<div class="form-group row">
							<label class="col-sm-4 col-form-label" for="amountPaid">Amount Paid</label>
							<div class="col-sm-3">
								<input type="number" class="form-control" formControlName="amountPaid" id="invoiceAmountPaid">
							</div>
							<span class="rupeeSymbol label col-sm-5">₹</span>
						</div>
						<div class="form-group row">
							<label class="col-sm-4 col-form-label" for="paymentMethod">Payment Method</label>
							<div class="col-sm-8">
								<select name="paymentMethod" id="paymentMethod" formControlName="paymentMethod" class="form-control">
									<option selected>Cash</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="action-buttons">
				<button type="submit" *ngIf="invoice.id" id="invoiceUpdateButton" class="btn button-save" (click)="updateInvoice()" >Update</button>
				<button type="submit" *ngIf="!invoice.id" id="invoiceSaveButton" class="btn button-save" (click)="setInvoice()" >Save</button>
				<button type="button" id="invoiceCancelButton" class="btn button-cancel" (click)="closeClicked()">Cancel</button>
			</div>
		</form>
	</div>
</div>
