<div id="new-invoice-wrapper make-scrollable">
	<div class="title-header">
		<span class="header-text">New Invoice</span>
	</div>

	<div class="wrapper-content">
		<div class="input-form">
			<form [formGroup]="invoiceInputForm">
				<div class="row beforeTable">
					<div class="col-sm-6">
						<div class="form-group row"
							[ngClass]="{'has-error':clientId.errors && (clientId.touched || clientId.dirty)}">
							<label class="col-sm-3 col-form-label" for="clientName">Client Name</label>
							<div class="col-sm-5">
								<select name="clientId" id="clientId" class="form-control" formControlName="clientId"
									(change)="fetchClientName($event)">
									<option value="" [selected]="true">Select a Client</option>
									<option *ngFor="let client of clients" value="{{ client.id }}">{{ client.name }}
									</option>
								</select>
							</div>
							<div class="col-sm-4">
								<button type="button" (click)="navigateNewClient()" class="btn button-primary">New
									Client</button>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-3 col-form-label" for="invoicedDate">Invoice Date</label>
							<div class="col-sm-5">
								<input type="date" class="form-control" id="invoicedDate" formControlName="invoicedDate">
								<!-- <p-calendar formControlName="invoicedDate" dateFormat="dd.mm.yy" [showIcon]="true"
								[monthNavigator]="true" [yearNavigator]="true" yearRange="2018:2035"></p-calendar> -->

							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group row"
							[ngClass]="{'has-error':invoiceNumber.errors && (invoiceNumber.touched || invoiceNumber.dirty)}">
							<label class="col-sm-3 col-form-label" for="invoiceNumber">Invoice Id</label>
							<div class="col-sm-5">
								<input type="text" class="form-control" id="invoiceNumber" formControlName="invoiceNumber"
									disabled>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="table-wrapper">
						<p-table #dt [columns]="tableHeaders" [value]="invoiceItems" [responsive]="true">
							<ng-template pTemplate="header">
								<tr>
									<th *ngFor="let tableHeader of tableHeaders" [pSortableColumn]="tableHeader.field">
										{{tableHeader.header}}
									</th>
									<th>Actions</th>
								</tr>
							</ng-template>
							<ng-template pTemplate="body" let-invoiceItem>
								<tr>
									<td scope="col">{{ invoiceItem.itemName }}</td>
									<td scope="col">{{ invoiceItem.manufacturer }}</td>
									<td scope="col">{{ invoiceItem.quantity }}</td>
									<td scope="col">{{ invoiceItem.rate }}₹</td>
									<td scope="col">{{ getSubAmount(invoiceItem.rate,invoiceItem.quantity) }}₹</td>
									<td scope="col">{{ invoiceItem.discount}}%</td>
									<td scope="col">{{ invoiceItem.tax["stateTax"] + invoiceItem.tax["countryTax"] }}%
									</td>
									<td scope="col">{{ getTotalAmount(invoiceItem.rate,invoiceItem.quantity,invoiceItem.discount+invoiceItem.offer,
											invoiceItem.tax["stateTax"] + invoiceItem.tax["countryTax"]) }}₹</td>
									<td scope="col">{{ getOfferDiscount(invoiceItem.offer) }}%</td>
									<td scope="col">{{ invoiceItem.itemMRP }}₹</td>
									<td data-html2canvas-ignore>
										<button type="button" class="btn button-primary"
											(click)="editItem(invoiceItem)"><i class="pi pi-pencil"></i></button>
										<button type="button" class="btn button-cancel"
											(click)="deleteItem(invoiceItem)"><i class="pi pi-trash"></i></button>
									</td>
								</tr>

							</ng-template>
						</p-table>
					</div>
				</div>

				<div class="row action-buttons">
					<button type="button" class="btn button-primary new-item-btn" (click)="openItemModal()">Add New
						Item</button>
				</div>
				<div class="afterTable">
					<div class="row afterTableRow">
						<div class="col col-sm-8">
						</div>
						<div class="col cost-details  col-sm-3">
							<div class="row cost-row">
								<label class="col-sm-4" for="subTotalAmount">SubTotal:(+)</label>
								<div class="amount col-sm-8" id="subTotalAmount">
									<span>{{ invoiceAmount.subAmount }}</span>
								</div>
							</div>
							<div class="row cost-row">
								<label class="col-sm-4" for="totalTax">Tax:(+)</label>
								<div class="amount col-sm-8" id="totalTax">
									<span>{{ invoiceAmount.taxAmount }}</span>
								</div>
							</div>
							<!-- <span class="cost-row">
								<label class="col-sm-6" for="shippingCharge">Shipping Charge:</label>-
								<span class="col-sm-6" id="shippingCharge"></span>
							</span> -->
							<div class="row cost-row">
								<label class="col-sm-4" for="discount">Discount:(-)</label>
								<div class="amount col-sm-8" id="discount">
									<span> {{ invoiceAmount.discountAmount }}</span>
								</div>
							</div>

							<hr>
							<div class="row cost-row">
								<label class="col-sm-4" for="netAmount">Net Amount:</label>
								<div class="amount totalAmount col-sm-8">
									<span> {{ invoiceAmount.totalAmount }}</span>
								</div>
							</div>
						</div>
					</div>
					<div class="row afterTableRow">
						<div class="col order-notes">
							<div class="form-group row">
								<label class="col-sm-3 col-form-label" for="orderNote">Order Notes</label>
								<div class="col-sm-6">
									<textarea class="form-control" formControlName="orderNote" id="orderNote"
										rows="3"></textarea>
								</div>
							</div>
						</div>
						<div class="col payment-details">
							<div class="form-group row">
								<label class="col-sm-3 col-form-label" for="amountPaid">Amount Paid</label>
								<div class="col-sm-5">
									<input type="number" class="form-control" formControlName="amountPaid"
										id="invoiceAmountPaid" appCurrency>
								</div>
								<div class="col-sm-3 error-message">
										<p-message severity="error" text="Amount Paid should not be empty"
											*ngIf="amountPaid.errors && (amountPaid.touched || amountPaid.dirty)"></p-message>
									</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-3 col-form-label" for="paymentMethod">Payment Method</label>
								<div class="col-sm-5">
									<select name="paymentMethod" id="paymentMethod" formControlName="paymentMethod"
										class="form-control">
										<option value="" [selected]="isSelected">Payment Method</option>
										<option *ngFor="let paymentSystem of paymentSystems" value="{{paymentSystem}}">
											{{paymentSystem}}</option>
									</select>
								</div>
							</div>

							<div class="form-group row">
								<label class="col-sm-3 col-form-label" for="amountPaid">Payment Ref No.</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" formControlName="paymentRef" id="paymentRef"
										appCurrency>
								</div>
							</div>

						</div>
					</div>
				</div>
				<div class="action-buttons">
					<button type="submit" [disabled]="!invoiceInputForm.valid" *ngIf="invoiceId"
						id="invoiceUpdateButton" class="btn button-save" (click)="updateInvoice()">Update</button>
					<button type="submit" [disabled]="!invoiceInputForm.valid" *ngIf="!invoiceId" id="invoiceSaveButton"
						class="btn button-save" (click)="setInvoice()">Save</button>
					<button type="button" id="invoiceCancelButton" class="btn button-cancel"
						(click)="closeClicked()">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div>