@import "../../../../assets/styles/_title-header.scss";
@import "../../../../assets/styles/_colors.scss";
@import "../../../../assets/styles/_button.scss";

textarea{
	 resize: none;
}

.wrapper-content{
	padding   : 10px;
	overflow-y: scroll;
	overflow-x: hidden;
}


.row{
	margin-bottom: 20px;
}

.table-wrapper{
	tbody{
		.form-control{
			font-size: 12px;
		}

	}
}
.itemEntry{
	thead{
		display: none;
	}
}
.cost-details{
	.span{
		label{
			text-align: right;
		}
	}
}
.order-notes{
	.row{
		display: flex;
  		align-items: center;
	}
}
.reverse-charge{
	text-align: center;
}
.payment-details{
	label{
		text-align: left;
	}
}
.rupeeSymbol{
		text-align : left;
		display    : inline-flex;
		align-items: center;
}
