<div id="bill-details-wrapper">
	<div class="search-header">
		<div class="row">
			<div class="search-area col">
				<div class="input-form">
					<div class="input-group">
						<input type="text"placeholder="Search Bills" class="search-box form-control">
						<button type="submit" class="btn button-filter">Filter Options</button>
					</div>
				</div>
			</div>
			<div class="new-item-area col">
				<a routerLink="New Bill"><button class="btn button-save">New Bill</button></a>
				<button class="btn button-filter">Export</button>
			</div>
		</div>
	</div>

	<div class="title-header">
		<span id="header-text">Recent Bills</span>
	</div>

	<div class="table-wrapper">
		<table class="table table-striped table-dark">
			<thead>
				<tr>
					<th *ngFor="let billDetailsTableHeader of billDetailsTableHeaders" scope="col">{{billDetailsTableHeader}}</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let bill of bills">
					<td scope="col">{{ bill?.billedDate }}</td>
					<td scope="col">{{ bill?.vendorName }}</td>
					<td scope="col">{{ getSubAmount(bill.billItems) }}</td>
					<td scope="col">{{ getTaxAmount(bill.billItems) }}</td>
					<td scope="col">{{ getDiscountAmount(bill.billItems) }}</td>
					<td scope="col">{{ getTotalAmount((bill.billItems)) }}</td>
					<td scope="col">{{ bill?.orderNote }}</td>
					<td scope="col">{{ bill?.amountPaid }}</td>
					<td>
						<button type="button" class="btn button-primary" (click)="editBill(bill.id)">View/Edit</button>
						<button type="button" class="btn button-cancel" (click)="deleteBill(bill)">Delete</button>
					</td>
				</tr>

			</tbody>
		</table>
	</div>


</div>
