<div id="new-bill-wrapper make-scrollable">
	<div class="title-header">
		<span id="header-text">Add New Bill</span>
	</div>
	<div class="wrapper-content input-form">
		<form [formGroup]="billInputForm">
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group row">
						<label class="col-sm-3 col-form-label" for="vendorName">Vendor Name</label>
						<div class="col-sm-5">
							<select name="vendorName" id="vendorName" class="form-control" formControlName="vendorName">
								<option selected>Select a Vendor</option>
								<option *ngFor="let vendor of vendors" value="{{ vendor.id }}">{{ vendor.name }}</option>
							</select>
						</div>
						<div class="col-sm-4">
							<button type="submit" class="btn button-primary">New Vendor</button>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-3 col-form-label" for="billDate">Bill Date</label>
						<div class="col-sm-5">
							<input type="date" class="form-control" id="billDate" formControlName="billedDate">
						</div>
					</div>
				</div>
			</div>

			<div class="table-wrapper">
				<table class="itemDetails table table-striped">
					<thead>
						<tr>
							<th *ngFor="let billTableHeader of billTableHeaders" scope="col">{{billTableHeader}}</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let billItem of billItems">
							<td scope="col">{{ billItem.itemName }}</td>
							<td scope="col">{{ billItem.manufacturer }}</td>
							<td scope="col">{{ billItem.quantity }}</td>
							<td scope="col">{{ billItem.rate }}</td>
							<td scope="col">{{ itemAmount }}</td>
							<td scope="col">{{ discountAmount }}</td>
							<td scope="col">{{ itemTax }}</td>
							<td scope="col">{{ billItem.offer }}</td>
							<td scope="col">{{ billItem.itemMRP }}</td>
							<td>
								<button type="button" class="btn button-primary">View/Edit</button>
								<button type="button" class="btn button-cancel">Delete</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<button type="button" class="btn btn-primary" (click)="openItemModal()">Add New Item</button>

			<div class="afterTable">
				<div class="row">
					<div class="col col-md-8">
					</div>
					<div class="col cost-details col-md-4">
						<span class="cost-row">
							<label class="col-sm-6" for="subTotalAmount">SubTotal:</label>
							<span class="col-sm-6" id="subTotalAmount">{{ subTotalAmount }}</span>
						</span>
						<span class="cost-row">
							<label class="col-sm-6" for="totalTax">Tax:</label>
							<span class="col-sm-6" id="totalTax">{{ totalTax }}</span>
						</span>
						<!-- <span class="cost-row">
							<label class="col-sm-6" for="shippingCharge">Shipping Charge:</label>
							<span class="col-sm-6" id="shippingCharge"></span>
						</span> -->
						<span class="cost-row">
							<label class="col-sm-6" for="discount">Discount:</label>
							<span class="col-sm-6" id="discount">{{ totalDiscount }}</span>
						</span>
						<!-- <span class="cost-row">
							<label class="col-sm-6" for="priceRoundedOff">Rounded Off:</label>
							<span class="col-sm-6" id="priceRoundedOff"></span>
						</span> -->
						<span class="cost-row">
							<label class="col-sm-6" for="netAmount">Net Amount:</label>
							<span class="col-sm-6" id="netAmount">{{ netAmount }}</span>
						</span>
					</div>
				</div>
				<div class="row">
					<div class="col order-notes">
						<div class="form-group row">
							<label class="col-sm-4 col-form-label" for="orderNote">Order Notes</label>
							<div class="col-sm-8">
								<textarea class="form-control" formControlName="orderNote" id="orderNote" rows="3"></textarea>
							</div>
						</div>
					</div>
					<div class="col payment-details">
						<div class="form-group row">
							<label class="col-sm-4 col-form-label" for="billAmountPaid">Amount Paid</label>
							<div class="col-sm-3">
								<input type="number" class="form-control" formControlName="amountPaid" id="billAmountPaid">
							</div>
							<span class="rupeeSymbol label col-sm-5">₹</span>
						</div>
						<div class="form-group row">
							<label class="col-sm-4 col-form-label" for="paymentMethod">Payment Method</label>
							<div class="col-sm-8">
								<select name="paymentMethod" id="paymentMethod" formControlName="paymentMethod" class="form-control">
									<option selected>Cash</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="action-buttons">
				<button type="submit" id="billSaveButton" class="btn button-save" (click)="saveBill()" >Save</button>
				<button type="button" id="billCancelButton" class="btn button-cancel" (click)="closeClicked()">Cancel</button>
			</div>
		</form>
	</div>
</div>
