<div id="offer-details-wrapper">
	<div class="page-appbar">
		<span class="header-text">Offer Details</span>
	</div>

	<div class="input-form">
		<form [formGroup]="offerInputForm">

			<div class="row">
				<div class="col">
					<!-- <div class=" form-group row">
						<label class="col-md-3 col-form-label" for="offerName">Offer Name</label>
						<div class="col-md-5">
							<input maxlength="50" type="text" maxlength="100" id="offerName" class="form-control"
								formControlName="name">
						</div>
						<div class="col-sm-4 error-message">
							<p-message severity="error" text="Offer Name Should not be empty"
								*ngIf="name.errors && (name.touched || name.dirty)"></p-message>
						</div>
					</div> -->

					<div class=" form-group row">
						<label class="col-md-3 col-form-label" for="rate">Required Items</label>
						<div class="col-md-5">
							<input type="number" id="minItems" class="form-control" formControlName="minItems"
								appQuantity>
						</div>
						<div class="col-sm-4 error-message">
							<p-message severity="error" text="Required Items Should not be empty"
								*ngIf="minItems.errors && (minItems.touched || minItems.dirty)"></p-message>
						</div>
					</div>

					<div class=" form-group row">
						<label class="col-md-3 col-form-label" for="rate">Free Items</label>
						<div class="col-md-5">
							<input type="number" id="freeItems" class="form-control" formControlName="freeItems"
								appQuantity>
						</div>
						<div class="col-sm-4 error-message">
							<p-message severity="error" text="Free Items Should not be empty"
								*ngIf="freeItems.errors && (freeItems.touched || freeItems.dirty)"></p-message>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-3 col-form-label" for="description">Description</label>
						<div class="col-sm-9">
							<textarea maxlength="200" class="form-control" id="description" rows="3"
								formControlName="description"></textarea>
						</div>
					</div>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-sm-3"></div>
				<div class="col-sm-9 action-button">
					<button type="submit" [disabled]="!offerInputForm.valid" class="btn button button-save"
						(click)="setOffer()">Add
						Offer</button>
				</div>
			</div>

		</form>
	</div>


	<div class="content-wrapper">
		<div class="table-wrapper">
			<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>

			<p-table #dt [columns]="tableHeaders" [value]="offers">
				<ng-template pTemplate="caption">
					<div style="text-align: right">
						<i class="pi pi-search" style="margin:4px 4px 0 0"></i>
						<input type="text" pInputText size="50" placeholder="Search Offers"
							(input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
					</div>
				</ng-template>

				<ng-template pTemplate="header">
					<tr>
						<th *ngFor="let tableHeader of tableHeaders" [pSortableColumn]="tableHeader.field">
							{{tableHeader.header}}
							<p-sortIcon [field]="tableHeader.field"></p-sortIcon>
						</th>
						<th>Calculated Discount</th>
						<th>Actions</th>
					</tr>
				</ng-template>

				<ng-template pTemplate="body" let-offer>
					<tr>
						<td>{{ offer?.name }}</td>
						<td>{{ offer?.minItems }}</td>
						<td>{{ offer?.freeItems }}</td>
						<td>{{ calculatedDiscount(offer?.minItems,offer?.freeItems) }}</td>
						<td data-html2canvas-ignore>
							<button type="button" class="btn button button-cancel" (click)="deleteOffer(offer)">Delete</button>
						</td>
					</tr>
				</ng-template>


			</p-table>
		</div>
	</div>

	<div class="action-buttons">
		<button type="button" class="btn button button-cancel" (click)="closeClicked()">Back</button>
	</div>
</div>