@import "../../../../assets/styles/_search-header.scss";
@import "../../../../assets/styles/_colors.scss";
@import "../../../../assets/styles/_button.scss";


#item-details-wrapper{
	font-family: 'Montserrat', sans-serif;
	color:$text-color-dark;
}

#action-buttons{
	text-align: center;
	margin:auto;
}
.title-header{
	margin-top: 50px;
	font-weight: bold;
	padding: 10px;
}
.table-wrapper{
	tbody{
		.form-control{
			font-size: 12px;
		}

	}
}
