<div id="item-details-wrapper">

	<div class="title-header">
		<span class="header-text">Item Details</span>
		<div class="action-area">
				<a routerLink="New Item"><button class="btn button-save">New Item</button></a>
				<button class="btn button-filter">Export</button>
			</div>
			<p-toast [style]="{marginTop: '40px'}" position="top-center"></p-toast>

	</div>


	<div class="content-wrapper">
		<div class="table-wrapper">

			<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>


			<p-table #dt [columns]="tableHeaders" [value]="items">
				<ng-template pTemplate="caption">
					<div style="text-align: right">
						<i class="pi pi-search" style="margin:4px 4px 0 0"></i>
						<input type="text" pInputText size="50" placeholder="Search Items"
							(input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
					</div>
				</ng-template>

				<ng-template pTemplate="header">
					<tr>
						<th *ngFor="let tableHeader of tableHeaders" [pSortableColumn]="tableHeader.field">
							{{tableHeader.header}}
							<p-sortIcon [field]="tableHeader.field"></p-sortIcon>
						</th>
						<th>Actions</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-item>
					<tr>
						<td>{{ item?.name }}</td>
						<td>{{ item?.manufacturer }}</td>
						<td>{{ item?.HSNCode }}</td>
						<td>{{ item?.packType }}</td>
						<td>{{ item?.purchaseCost }}</td>
						<!-- <td>{{ item?.saleCost }}</td> -->
						<td>{{ item?.quantity }}</td>
						<td data-html2canvas-ignore>
							<button type="button" class="btn button-primary"
								(click)="editItem(item.id)">View/Edit</button>
							<button type="button" class="btn button-cancel" (click)="deleteItem(item)">Delete</button>
						</td>
					</tr>

				</ng-template>
			</p-table>

		</div>

	</div>

</div>