  <div class="purchase-widget widget-container">


      <div class="widget-title">
        <label for="Monthly Purchases">Monthly Purchases</label>
      </div>
    
    
      <div class="widget-data">
    
        <div class="form-group row">
          <label for="Monthly Sales" class="col-sm-8">Amount</label>
          <div class="col-sm-4">
            <span name="totalPurchase">{{ totalPurchase }}</span>
          </div>
        </div>
    
        <div class="form-group row">
          <label for="Monthly Purchase" class="col-sm-8">Number of Purchases:</label>
          <div class="col-sm-4">
            <span name="noOfPurchases">{{ noOfPurchases }}</span>
          </div>
        </div>
      </div>
    </div>