<div class="sale-widget">
    <div class="form-group row">
      <label for="Monthly Purchases" class="col-sm-4 col-form-label">Monthly Purchases:</label>
      <div class="col-sm-8">
        <span name="totalPurchase">{{ totalPurchase }}</span>
      </div>
    </div>
  
    <div class="form-group row">
      <label for="Monthly Sales" class="col-sm-4 col-form-label">Number of Purchases:</label>
      <div class="col-sm-8">
        <span name="noOfPurchases">{{ noOfPurchases }}</span>
      </div>
    </div>
  </div>