@import "../../../../assets/styles/_colors.scss";
@import "../../../../assets/styles/_button.scss";
@import "../../../../assets/styles/common.scss";

.dash-widget {
	display: block;
	width: 20vw;
	color: $text-color-light;
	font-weight: 800;
	background-color: $background-color-light;
	// box-shadow: 6px 6px 20px 8px rgba(0, 0, 0, 0.2);
	.widget-data {
		text-align: center;
		width: 100%;
		padding: 20px;
		background-color: $background-color-light;
		vertical-align: middle;
		color: $text-color-dark;
		label {
			text-align: left;
		}
	}
	.widget-title {
		text-align: center;
		padding: 20px;
		width: 100%;
		background-color: $positive-color;
		vertical-align: middle;
	}
}
