@import "../../../../assets/styles/_colors.scss";
@import "../../../../assets/styles/_button.scss";
@import "../../../../assets/styles/common.scss";

#tax-details-wrapper {
}
.input-form {
	padding: 5px;
	padding-left: 40px;
	text-align: left;
	margin: 0 auto;
	font-weight: bold;
}

.table {
	margin: 0 auto !important;
	th,
	td {
		text-align: center;
	}
}
