<div id="new-client-wrapper">
	<div class="page-appbar">
		<span class="header-text">New Client</span>
	</div>		

	<div class="content-wrapper">
		<div class="input-form">
			<form [formGroup]="clientInputForm">
				<div class="row">
					<div class="col">
						<div class="form-group row">
							<label class="col-sm-2 col-form-label" for="clientName">Client Name</label>
							<div class="col-sm-5">
								<input maxlength="100" type="text" id="clientName" class="form-control"
									formControlName="name" [ngClass]="{'error-input': name.errors && (name.touched || name.dirty)}" appAlphabet>
							</div>
							<div class="col-sm-5 error-message">
								<p-message severity="error" text="Client name Should not be empty"
									*ngIf="name.errors && (name.touched || name.dirty)"></p-message>
							</div>
						</div>
						<!-- <div class="form-group row">
							<label class="col-sm-2 col-form-label" for="phoneNumber">Phone Number</label>
							<div class="col-sm-1">
								<input class="form-control" id="countryCode" placeholder="+91" disabled>
							</div>
							<div class="col-sm-4">
								<input maxlength="10" type="tel" id="phoneNumber" class="form-control"
									formControlName="phoneNumber" [ngClass]="{'error-input': phoneNumber.errors && (phoneNumber.touched || phoneNumber.dirty)}" appQuantity>
							</div>
							<div class="col-sm-5 error-message">
								<p-message severity="error" text="Phone Number Should not be empty."
									*ngIf="phoneNumber.errors && (phoneNumber.touched || phoneNumber.dirty)">
								</p-message>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label" for="clientEmailId">Email Id</label>
							<div class="col-sm-5">
								<input maxlength="100" type="email" id="clientEmailId" class="form-control"
									formControlName="emailId" [ngClass]="{'error-input': emailId.errors && (emailId.touched || emailId.dirty)}">
							</div>
							<div class="col-sm-5 error-message">
								<p-message severity="error" text="Please Enter a valid Email Id."
									*ngIf="emailId.errors && (emailId.touched || emailId.dirty)"></p-message>
							</div>
						</div> -->


						<div class="form-group row" *ngIf="clientId">
							<label class="col-sm-2 col-form-label" for="amountBalance">Amount Balance</label>
							<div class="col-sm-5">
								<input maxlength="15" type="text" id="amountBalance" class="form-control"
									formControlName="amountBalance" disabled>
							</div>
						</div>

						<div class="form-group row">
							<label class="col-sm-2 col-form-label" for="clientWebsite">Website</label>
							<div class="col-sm-5">
								<input maxlength="100" type="email" id="clientWebsite" class="form-control"
									formControlName="website">
							</div>
						</div>

						<div class="form-group row">
							<label class="col-sm-2 col-form-label" for="clientGstin">GSTIN</label>
							<div class="col-sm-5">
								<input maxlength="15" type="text" id="clientGstin" class="form-control"
									formControlName="GSTIN">
							</div>
						</div>

						<div class="form-group row">
							<label class="col-sm-2 col-form-label" for="clientContactPerson">Contact Person</label>
							<div class="col-sm-5">
								<input maxlength="100" type="text" id="clientContactPerson" class="form-control"
									formControlName="contactPersonName" [ngClass]="{'error-input': contactPersonName.errors && (contactPersonName.touched || contactPersonName.dirty)}">
							</div>
							<div class="col-sm-5 error-message">
								<p-message severity="error" text="Contact Person Should not be empty"
									*ngIf="contactPersonName.errors && (contactPersonName.touched || contactPersonName.dirty)">
								</p-message>
							</div>
						</div>

						<div class="form-group row">
							<label class="col-sm-2 col-form-label" for="contactPersonPhoneNumber">Contact Phone</label>
							<div class="col-sm-4">
								<input maxlength="10" type="text" id="contactPersonPhoneNumber" class="form-control"
									formControlName="contactPersonPhoneNumber" appQuantity>
							</div>
						</div>

						<div class="form-group row">
							<label class="col-sm-2 col-form-label" for="contactPersonEmailId">Contact Email</label>
							<div class="col-sm-5">
								<input type="email" id="contactPersonEmailId" class="form-control"
									formControlName="contactPersonEmailId">
							</div>
						</div>

						<div class="form-group row">
							<label class="col-sm-2 col-form-label" for="drugLicense20B">Drug License 20B</label>
							<div class="col-sm-5">
								<input type="text" id="drugLicense20B" class="form-control"
									formControlName="drugLicense20B">
							</div>
						</div>

						<div class="form-group row">
							<label class="col-sm-2 col-form-label" for="drugLicense21B">Drug License 21B</label>
							<div class="col-sm-5">
								<input type="text" id="drugLicense21B" class="form-control"
									formControlName="drugLicense21B">
							</div>
						</div>


						<div class="form-group row">
							<label class="col-sm-2 col-form-label" for="clientAddress">Address</label>
							<div class="col-sm-5">
								<textarea class="form-control" id="clientAddress" rows="3"
									formControlName="address" [ngClass]="{'error-input': address.errors && (address.touched || address.dirty)}"></textarea>
							</div>
							<div class="col-sm-5 error-message">
								<p-message severity="error" text="Address should not be empty"
									*ngIf="address.errors && (address.touched || address.dirty)">
								</p-message>
							</div>
						</div>

						<div class="form-group row">
							<label class="col-sm-2 col-form-label" for="clientAddressPinCode">Pin Code</label>
							<div class="col-sm-5">
								<input maxlength="6" type="text" id="clientAddressPinCode" class="form-control"
									formControlName="pincode" appQuantity>
							</div>
						</div>




						<div class="form-group row">
							<label class="col-sm-2 col-form-label" for="clientNotes">Notes</label>
							<div class="col-sm-5">
								<textarea maxlength="200" class="form-control" id="clientNotes" rows="3"
									formControlName="notes"></textarea>
							</div>
						</div>


					</div>
				</div>
				<div class="action-buttons">
					<button type="button" [disabled]="!clientInputForm.valid" *ngIf="!clientId" (click)="setClient()"
						class="btn button button-save">Save</button>
					<button type="button" [disabled]="!clientInputForm.valid" *ngIf="clientId" (click)="updateClient()"
						class="btn button button-save">Update</button>
					<button type="button" (click)="closeClicked()" class="btn button button-cancel">Cancel</button>
				</div>

			</form>

		</div>
	</div>
</div>