<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add New Item</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  
  <form [formGroup]="invoiceItemForm">
    <div class="modal-body">
      <div class="row">
        <div class="col">
  
          <div class="form-group row" [ngClass]="{'has-error':itemId.errors && (itemId.touched || itemId.dirty)}">
            <label class="col-sm-3 col-form-label" for="itemName">Item List</label>
            <div class="col-sm-8">
              <select name="itemName" id="itemPackType" class="form-control"
              (change)="populateOnItemSelectEvent($event)" formControlName="itemId">
                <option value="" itemId>Select a Item</option>
                <option *ngFor="let item of items" value="{{ item.id }}">{{ item.name }}</option>
              </select>
            </div>
          </div>
  
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="itemName">Particular</label>
            <div class="col-sm-8">
              <input maxlength="100" type="text" class="form-control" id="itemName" formControlName="itemName">
            </div>
          </div>
  
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="itemMfg">Manufacturer</label>
            <div class="col-sm-4">
              <input maxlength="100" type="text" class="form-control" id="itemMfg" formControlName="manufacturer">
            </div>
            <div class="col-sm-5 error-message">
								<p-message severity="error" text="Manufacturer should not be empty"
									*ngIf="manufacturer.errors && (manufacturer.touched || manufacturer.dirty)"></p-message>
							</div>
          </div>
  
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="itemPackType">Pack type</label>
            <div class="col-sm-4">
              <input maxlength="100" type="text" class="form-control" id="packType" formControlName="packType">
            </div>
          </div>
  
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="itemHSN">HSN</label>
            <div class="col-sm-4">
              <input maxlength="20" type="text" class="form-control" id="itemHSN" formControlName="itemHSN">
            </div>
            <div class="col-sm-5 error-message">
								<p-message severity="error" text="Item HSN should not be empty"
									*ngIf="itemHSN.errors && (itemHSN.touched || itemHSN.dirty)"></p-message>
							</div>
          </div>
  
  
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="itemBatchNumber">Batch Number</label>
            <div class="col-sm-4">
              <input maxlength="20" type="text" class="form-control" id="itemBatchNumber" formControlName="batchNumber">
            </div>
            <div class="col-sm-5 error-message">
								<p-message severity="error" text="Batch Number should not be empty"
									*ngIf="batchNumber.errors && (batchNumber.touched || batchNumber.dirty)"></p-message>
							</div>
          </div>
  
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="itemExpiryDate">Expiry Date</label>
            <div class="col-sm-4">
              <input type="date" class="form-control" id="itemExpiryDate" formControlName="expiryDate">
            </div>
            <div class="col-sm-5 error-message">
								<p-message severity="error" text="Expiry Date should not be empty"
									*ngIf="expiryDate.errors && (expiryDate.touched || expiryDate.dirty)"></p-message>
							</div>
          </div>
  
  
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="itemQuantity">Quantity</label>
            <div class="col-sm-4">
              <input maxlength="10" type="number" class="form-control" id="itemQuantity" formControlName="quantity" appQuantity>
            </div>
            <div class="col-sm-5 error-message">
								<p-message severity="error" text="Quantity should not be empty"
									*ngIf="quantity.errors && (quantity.touched || quantity.dirty)"></p-message>
							</div>
          </div>
  
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="itemRate">Rate</label>
            <div class="col-sm-4">
              <input type="number" class="form-control" id="itemRate" formControlName="rate" appCurrency>
            </div>
            <div class="col-sm-5 error-message">
								<p-message severity="error" text="Rate should not be empty"
									*ngIf="rate.errors && (rate.touched || rate.dirty)"></p-message>
							</div>
           
          </div>
  
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="itemMRP">MRP</label>
            <div class="col-sm-4">
              <input type="number" class="form-control" id="itemMRP" formControlName="itemMRP" appCurrency>
            </div>
            <div class="col-sm-5 error-message">
								<p-message severity="error" text="ItemMRP should not be empty"
									*ngIf="itemMRP.errors && (itemMRP.touched || itemMRP.dirty)"></p-message>
							</div>
            
          </div>
  
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="itemTax1">SGST</label>
            <div class="col-sm-4">
              <select name="itemTax1" id="itemTax1" class="form-control" formControlName="stateTax">
                <option value="" [selected]="true">Select a Tax</option>
                <option *ngFor="let tax of taxes" value="{{ tax.rate }}">{{ tax.name }}</option>
              </select>
            </div>
          </div>
  
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="itemTax2">CGST</label>
            <div class="col-sm-4">
              <select name="itemTax2" id="itemTax2" class="form-control" formControlName="countryTax">
                <option value="" [selected]="true">Select a Tax</option>
                <option *ngFor="let tax of taxes" value="{{ tax.rate }}">{{ tax.name }}</option>
              </select>
            </div>
          </div>
  
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="itemDiscount">Discount</label>
            <div class="col-sm-4">
              <input type="number" class="form-control" id="itemDiscount" formControlName="discount" appCurrency>
            </div>
            <div class="col-sm-5 error-message">
              <p-message severity="error" text="Discount more than 100%"
                *ngIf="discount.errors?.max && (discount.touched || discount.dirty)"></p-message>
            </div>
            
          </div>
  
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="itemOffer">Offers</label>
            <div class="col-sm-4">
              <select name="itemOffer" id="itemOffer" class="form-control" formControlName="offer">
                <option value="" selected>Select Offers</option>
                <option *ngFor="let offer of offers" value="{{ calculatedDiscount(offer.minItems,offer.freeItems) }}" selected>
                  {{ offer.name }}
                </option>
                <!-- <option *ngFor="let offer of offers" value="{{ offer.id }}" selected>
                  {{ offer.name }}
                </option> -->
              </select>
            </div>
          </div>
  
  
        </div>
      </div>
    </div>
    <div class="modal-footer action-buttons">
      <button type="button" [disabled]="!invoiceItemForm.valid" *ngIf="invoiceItem" class="btn button-primary" (click)="editInvoiceItem();activeModal.close('Close')">Save Item</button>
      <button type="button" [disabled]="!invoiceItemForm.valid" *ngIf="!invoiceItem" class="btn button-primary" (click)="addInvoiceItem();activeModal.close('Close')">Add Item</button>
      <button type="button" class="btn button-cancel" (click)="activeModal.close('Close')">Cancel</button>
    </div>
  </form>
  