@import "../../../../assets/styles/_colors.scss";
@import "../../../../assets/styles/_button.scss";
@import "../../../../assets/styles/common.scss";

#company-details-wrapper {
	font-family: 'Montserrat', sans-serif;
	color: $text-color-light;
	background-color: $background-color-dark-light;
	height:100vh;
}
.input-form {
	padding: 5px;
	padding-left: 40px;
	padding-top: 40px;
	margin: 0 auto;
	font-weight: bold;
	width: 80vw;

	label {
		text-align: right;
	}
}
