<div id="client-details-wrapper">
	<div class="search-header">
		<div class="row">
			<div class="search-area col">
				<div class="input-form">
					<div class="input-group">
						<input type="text"placeholder="Search Clients" class="search-box form-control">
						<button type="submit" class="btn button-filter">Filter Options</button>
					</div>
				</div>
			</div>
			<div class="new-item-area col">
				<a routerLink="New Client"><button class="btn button-save">New Client</button></a>
				<button class="btn button-filter">Export</button>
				<!-- <button class="btn button-filter">Import</button> -->
			</div>
		</div>
	</div>

	<div class="title-header">
		<span id="header-text">Client Details</span>
	</div>

	<div class="table-wrapper">
		<table class="table table-striped table-dark">
			<thead>
				<tr>
					<th *ngFor="let clientDetailsTableHeader of clientDetailsTableHeaders" scope="col">{{clientDetailsTableHeader}}</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let client of clients">
					<td>{{ client?.name }}</td>
					<td>{{ client?.contactPersonName }}</td>
					<td>{{ client?.address }}</td>
					<td>{{ client?.emailId }}</td>
					<td>{{ client?.phoneNumber }}</td>
					<td>{{ client?.contactPersonPhoneNumber }}</td>
					<td>
						<button type="button" class="btn button-primary">View/Edit</button>
						<button type="button" class="btn button-cancel">Delete</button>
					</td>
				</tr>

			</tbody>
		</table>
	</div>



</div>
