<div *ngIf="_authService.user | async as user; else login">
	<div *ngIf="_authService.user | async as user">
		<div id="container">
			<app-sidebar></app-sidebar>
			<div id="content">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
</div>


<ng-template #login>

	<div id="login-wrapper">
		<div class="row login-content">
			<div class="col">
				<div class="text-header">
					<h2>Login/SignUp</h2>
				</div>

				<div class="form-group row">
					<label class="col-sm-4 col-form-label" for="Enter Email">Email ID</label>
					<div class="col-sm-8">
						<input type="text" name="emailID" class="input form-control" [(ngModel)]="emailID"
							placeholder="Enter email" required>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-4 col-form-label" for="Enter password">Password</label>
					<div class="col-sm-8">
						<input type="password" name="password" class="input form-control" [(ngModel)]="password"
							placeholder="Enter password" required>
					</div>
				</div>


				<button type="button" class="btn button-primary" (click)="onEmailandPasswordSignIn()">
					Sign In
				</button>
			</div>

		</div>
	</div>
</ng-template>