@import "../assets/styles/_colors.scss";
@import "../assets/styles/_button.scss";
@import "../assets/styles/_title-header.scss";




#login-wrapper{
	font-family: 'Montserrat', sans-serif;
	color:$text-color-dark;
	text-align: center;
	border: 1px solid $text-color-dark;
	width:40%;
	margin: auto;
	padding:50px;

	.login-content{
		display: inline-block;
		padding: 10px;
	}
	.login-header{
		padding: 10px;
	}
}

#content{
	position    :absolute;
	width       : 100%;
	padding-left: 250px;
}



.login-list{
	list-style: none;
	padding: 0;

	li{
		margin-bottom: 20px;
		a{
			display: block;
			text-decoration: none;
		}
	}

}
