@import "../assets/styles/_colors.scss";
@import "../assets/styles/_button.scss";
@import "../assets/styles/common.scss";

// #login-wrapper {
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	background-color: $primary-color;
// 	width: 20vw;

// 	.login-content {
// 		padding: 10px;
// 		text-align: center;

// 		label {
// 			text-align: right;
// 		}
// 	}
// 	.text-header {
// 		padding: 10px;
// 	}
// }

html,
body {
	min-height: 100vh;
	height: auto;
	margin: 0;
}

.login-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	// background-color: $background-color;
	background-image: url("../assets/graphics/prism.png");
	background-repeat: repeat;

	.login-content {
		padding: 20px;
		width: 20vw;
		text-align: center;

		.text-header {
			padding-bottom: 20px;
			.title-text {
				font-size: 2em;
				color: $primary-color-dark;
			}
			.subtitle-text {
				font-size: 1.2em;
				color: $text-color-light;
			}
		}

		label {
			text-align: right;
			color: $text-color-light;
		}

		button {
			padding-top: 5px;
			width: 100%;
		}

		.notice-text {
			font-size: 1em;
			color: $text-color-light;
		}
	}
}

.app-container {
	height: 100vh;
	overflow-y: scroll;
	overflow-x: hidden;

	.app-content {
		height: 100vh;
		width: 85vw;
		float: right;
		margin-left: 10px;
		background: $background-color;
	}

	.app-sidebar {
		position: fixed;
		width: 15vw;
		height: 100%;
		background: $background-color-dark;
		overflow-y: auto;
	}
}

// mat-sidenav-container {
// 	height: 100vh;
// }
// mat-sidenav {
// 	width: 15vw;
// 	height: 100vh;
// 	background: $background-color-dark;
// }

// mat-sidenav-content {
// 	height: 100vh;
// 	margin-left: 10px;
// 	background: $background-color;
// }
