<div *ngIf="_authService.user | async as user; else login">
  <div *ngIf="_authService.user | async as user">
    <div class="app-container">
      <div class="app-sidebar">
        <app-sidebar></app-sidebar>
      </div>
      <div class="app-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>


<ng-template #login>
  <div class="page-container">
    <div class="row login-wrapper">
      <div class="col">
        <div class="text-header">
          <h1 class="title-text">Welcome to DrugMart</h1>
        </div>

      

          <div class="form-group row">
            <label for="Enter Email">Email ID</label>
            <input type="text" name="emailID" class="input form-control" [(ngModel)]="emailID" placeholder="" required>
          </div>

          <div class="form-group row">
            <label for="Enter password">Password</label>
            <input type="password" name="password" class="input form-control" [(ngModel)]="password" placeholder=""
              required>
          </div>

          <div class="form-group row button-wrapper">
            <button type="button" class="button button-login" (click)="onEmailandPasswordSignIn()">
              Sign In
            </button>
					</div>

					<span class="notice-text">
							{{ errorMessage }}
					</span>

      </div>
    </div>
    <div class="notice-header">
      <h3 class="notice-text">
				Incase you are not able to Sign In please contact customer care.
			</h3>
    </div>
  </div>

</ng-template>
