<div *ngIf="_authService.user | async as user; else login">
	<div *ngIf="_authService.user | async as user">
		<div id="container">
			<app-sidebar></app-sidebar>
			<div id="content">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
</div>


<ng-template #login>

	<div id="login-wrapper">
		<div class="row login-content">
			<div class="col">
				<div class="text-header">
					<h2>Login/SignUp</h2>
				</div>

				<!-- <div class="form-group">
					<button type="button" class="btn button-primary" (click)="_authService.googleLogin()">Google
						Signin</button>
				</div> -->



				<div class="form-group row">
					<label class="col-sm-4 col-form-label" for="Enter Username">Username</label>
					<div class="col-sm-8">
						<input type="text" name="username" class="input form-control" [(ngModel)]="username"
							placeholder="Enter username" required>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-4 col-form-label" for="Enter password">Password</label>
					<div class="col-sm-8">
						<input type="password" name="password" class="input form-control" [(ngModel)]="password"
							placeholder="Enter password" required>
					</div>
				</div>


				<button type="button" class="btn button-primary" (click)="onEmailSignInSubmit()">
					Sign In
				</button>

				<!-- <div *ngIf="!this.confirmationResult">
					<div class="form-group row">
						<label class="col-sm-6 col-form-label" for="Enter Phone Number">Phone Number</label>
						<div class="col-sm-6">
							<input type="tel" name="phoneNumber" class="input form-control" [(ngModel)]="phoneNumber"
								placeholder="10 digit mobile no." required>
						</div>
					</div>

					<div class="form-group">
						<button type="button" class="btn button-primary" (click)="onSignInSubmit()">Log-In with Mobile
							Number</button>
					</div>
				</div> -->

				<!-- <div *ngIf="this.confirmationResult">

					<div class="form-group row">
						<label class="col-sm-4 col-form-label" for="">Enter OTP</label>
						<div class="col-sm-8">
							<input type="number" name="verificationCode" class="input" [(ngModel)]="verificationCode"
								required>
						</div>
					</div>

					<div class="form-group">
						<button type="button" class="btn button-primary" (click)="verifyLoginCode()">Verify OTP</button>
					</div>

				</div> -->
			</div>
			<!-- <div class="col">

				<div class="text-header">
					<h2>New User</h2>
				</div>
				<div class="form-group row">
					<label class="col-sm-6 col-form-label" for="Enter Username">Username</label>
					<div class="col-sm-6">
						<input type="text" name="username" class="input form-control" [(ngModel)]="newUsername"
							placeholder="Enter username" required>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-6 col-form-label" for="Enter password">Password</label>
					<div class="col-sm-6">
						<input type="password" name="password" class="input form-control" [(ngModel)]="newPassword"
							placeholder="Enter password" required>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-6 col-form-label" for="Repeat password">Repeat Password</label>
					<div class="col-sm-6">
						<input type="password" name="password" class="input form-control"
							[(ngModel)]="newRepeatPassword" placeholder="Reapet password" required>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-6 col-form-label" for="Enter phoneNumber">Phone number</label>
					<div class="col-sm-6">
						<input type="tel" name="phoneNumber" class="input form-control" [(ngModel)]="phoneNumber"
							placeholder="Enter phoneNumber" required>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-6 col-form-label" for="Enter emailID">Enter emailID</label>
					<div class="col-sm-6">
						<input type="email" name="emailID" class="input form-control" [(ngModel)]="emailID"
							placeholder="Enter emailID" required>
					</div>
				</div>

				<button type="button" class="btn button-primary" (click)="onRegisterSubmit()">
					Register Account
				</button>


				<div>
					<pre>{{user?.email}}</pre>
				</div>
				<div class="form-group row">
					<div id="recaptcha-container"></div>
				</div>
			</div> -->
		</div>
	</div>
</ng-template>