@import "../../../../assets/styles/_colors.scss";
@import "../../../../assets/styles/_button.scss";
@import "../../../../assets/styles/common.scss";

#print-details-wrapper {
	font-family: 'Montserrat', sans-serif;
	color: $text-color-dark;
}

.wrapper-content {
	display: flex;
	width: 100%;
	height: 100vh;
	justify-content: center;

	.input-form {
		margin-top: 40px;
		border: 1px solid $border-color-dark;
		.print-header {
			text-align: center;
			border-bottom: 1px solid black;
			padding: 10px;
		}
		.companyDetailsForm {
			input {
				text-align: center;
			}
		}
		.paymentDetailsForm {
			margin-top: 50px;
			label {
				text-align: right;
			}
			input {
				font-weight: bold;
			}
		}
		.action-buttons {
			margin-top: 40px;
			button {
				width: 30%;
			}
		}
	}
}
