<div id="receipt-details-wrapper">

  <div class="title-header">
    <span class="header-text">Receipt Details</span>
    <div class="action-area">
      <a routerLink="New Receipt"><button class="btn button-save">New Receipt</button></a>
      <button class="btn button-filter">Export</button>
    </div>
    <p-toast [style]="{marginTop: '40px'}" position="top-center"></p-toast>

  </div>


  <div class="content-wrapper">
    <div class="table-wrapper">

      <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>


      <p-table #dt [columns]="tableHeaders" [value]="receipts">
        <ng-template pTemplate="caption">
          <div style="text-align: right">
            <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
            <input type="text" pInputText size="50" placeholder="Search Receipts"
              (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let tableHeader of tableHeaders" [pSortableColumn]="tableHeader.field">
              {{tableHeader.header}}
              <p-sortIcon [field]="tableHeader.field"></p-sortIcon>
            </th>
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-receipt>
          <tr>
            <td>{{ receipt?.clientName }}</td>
            <td>{{ receipt?.clientContactName }}</td>
            <td>{{ receipt?.clientPhoneNumber }}</td>
            <td class="currencyDisplay">{{ receipt?.amountPaid }}</td>
            <td>{{ receipt?.receiptDate }}</td>
            <td>{{ getReceiptType(receipt) }}</td>
            <td data-html2canvas-ignore>
              <button type="button" class="btn button-primary" (click)="editReceipt(receipt.id)"><i
                  class="pi pi-eye"></i></button>
              <button type="button" class="btn button-cancel" (click)="deleteReceipt(receipt)"><i
                  class="pi pi-trash"></i></button>
            </td>
          </tr>

        </ng-template>
      </p-table>

    </div>

  </div>

</div>