@import "../../../../assets/styles/_colors.scss";
@import "../../../../assets/styles/_button.scss";
@import "../../../../assets/styles/common.scss";

#settings-wrapper {
	font-family: 'Montserrat', sans-serif;
	color: $text-color-dark;
	background-color: $background-color-dark-light;
	height: 100%;
}

.content-wrapper {
	display: flex;
	text-align: center;
	justify-content: center;

	.settings-list {
		list-style: none;
		padding: 10px;
		width: 15vw;
	
		li {
			margin-bottom: 20px;
			width: 100%;
	
			a {
				display: block;
				text-decoration: none;
				font-size:1.2em;
				font-weight: 600;
				padding: 15px;
			}
		}
	}
}


