@import "../../../../assets/styles/_colors.scss";
@import "../../../../assets/styles/_button.scss";
@import "../../../../assets/styles/_title-header.scss";
@import "../../../../assets/styles/common.scss";

#settings-wrapper {
	font-family: 'Montserrat', sans-serif;
	color: $text-color-dark;
}

.settings-menu {
	margin-top: 10%;
	text-align: left;
}

.settings-list {
	list-style: none;
	padding: 10px;

	li {
		margin-bottom: 20px;
		a {
			display: block;
			text-decoration: none;
			padding: 10px;
		}
	}
}
