<div class="sidebar-wrapper">
	<div class="sidebar-info">
		<span class="software-name">DRUG MART</span>
	</div>
	<div class="sidebar-brand">
		<span class="company-name">KANCHAN MEDICO</span>
	</div>
	<ul class="sidebar-nav">
		<li *ngFor="let sidebarItem of sidebarItems">

			<a routerLink="{{sidebarItem.name}}" routerLinkActive="router-link-active">
				<img width="20px" height="20px" class="dashboard-icons"
					src="../../../../assets/graphics/{{ sidebarItem.svgName }}" alt="">
					{{sidebarItem.name}}
			</a>
		</li>
		<li>

			<a (click)="auth.logout()">
				<img width="20px" height="20px" class="dashboard-icons" src="../../../../assets/graphics/logout.svg"
					alt="">
					Logout
			</a>
		</li>
	</ul>
</div>