@import "../../../../assets/styles/_colors.scss";
@import "../../../../assets/styles/_button.scss";

.sidebar-wrapper {
	.sidebar-info {
		font-family: 'Montserrat', sans-serif;
		color: $text-color-dark;
		background: $primary-accent-color;
		height: 15vh;
		text-transform: uppercase;
		padding: 5px 0;
		text-align: center;
		width: 100%;
		font-size: 1.3em;
		font-weight: 600;
		display: inline-block;
		.software-name {
			display: inline-block;
			vertical-align: middle;
		}
	}

	.sidebar-brand {
		font-family: 'Montserrat', sans-serif;
		color: $text-color-dark;
		text-transform: uppercase;
		background: $primary-accent-color-dark;
		margin-bottom: 40px;
		font-weight: 600;
		padding: 5px;
		text-align: center;
		width: 100%;
		font-size: 1.2em;
	}

	.sidebar-nav {
		padding: 0;
		list-style: none;

		li {
			text-indent: 20px;
			line-height: 50px;
			text-align: left;
			a {
				font-family: 'Montserrat', sans-serif;
				display: block;
				text-decoration: none;
				color: $text-color-light;
				font-weight: 600;
				font-size: 1.2em;
			}

			.dashboard-icons {
				margin-right: 10px;
			}

			a:hover {
				background: $primary-accent-color;
			}

			.router-link-active {
				background: $primary-accent-color;
				color: $text-color-light;
			}
		}
	}
}
