@import "_colors.scss";
@import "common.scss";

.button {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-weight: 600;
	padding: 10px;
	border-radius: 4px;
	border: none;
	margin: 0 5px;
	color: $text-color-light;
	background-color: $primary-accent-color;
	@include z-depth-2;
}

.button:hover{
	background-color: $negative-color-dark;
}

.button-save {
	background-color: $positive-color;
}
.button-save:hover {
	background-color: $positive-color-dark;
}

.button-cancel {
	background-color: $negative-color;
}
.button-cancel:hover {
	background-color: $negative-color-dark;
}

