//Light Theme
$text-color-light: #fafafa;
$background-color-light: #e0e0e0;

//Dark Theme
$text-color-dark: #37474f;
$background-color-dark: #37474f;
$background-color-dark-light: #546e7a;






//Common Theme
$primary-accent-color: #ff9800;
$primary-accent-color-dark: #f57c00;

$secondary-accent-color: #448aff;
$secondary-accent-color-light: #03a9f4;

$positive-color: #4caf50;
$positive-color-dark: #37803a;
$negative-color: #f44336;
$negative-color-dark: #ea1c0d;
$border-color-dark:#37474f;


