@import "_colors.scss";

label,select,option,button,input,span{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color:$text-color-dark;
}

.btn{
		color:$text-color-light;
}

.table{
	thead{
		font-family: 'Montserrat', sans-serif;
		font-weight: bold;
		color:$text-color-dark;
	}
}
.title-header{
	font-weight: bold;
	text-align: left;
	padding: 17px 5px;
	border-bottom: 1px solid $border-color-dark;
	font-size: 20px;
}

.search-header{
	margin: 10px auto;

	.input-form{
		padding-left: 40px;
		font-weight: bold;

		.search-area{
			text-align: left;

			.search-box{
				height: 44px;
				text-align: left;
				padding:5px;
				border-radius: 4px;
			}
		}
	}
	.new-item-area{
		text-align: right;
	}
}


.wrapper-content{
	padding: 10px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.has-error {
	input,textarea,select,option {
		/* make it glow! */
		-webkit-box-shadow: 0 0 4px #c62828;
		-moz-box-shadow: 0 0 4px #c62828;
		box-shadow: 0 0 4px #c62828;
	}
	color: #c62828;
}

.no-error {
	input,textarea,select {
		/* make it glow! */
		-webkit-box-shadow: 0 0 4px #4caf50;
		-moz-box-shadow: 0 0 4px #4caf50;
		box-shadow: 0 0 4px #4caf50;
	}
}
// .address-details{
// 	border: 1px solid $border-color-dark;
// 	padding: 20px 10px;
// 	margin-bottom: 20px;
// }

.rupeeSymbol{
		text-align : left;
		display    : inline-flex;
		font-size: 1em;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid $border-color-dark;
}
