@import "_colors.scss";
.title-header{
	font-weight: bold;
	text-align: left;
	padding: 17px 5px;
	border-bottom: 1px solid $border-color-dark;
	font-size: 20px;
}

.search-header{
	margin: 10px auto;

	.input-form{
		padding-left: 40px;
		font-weight: bold;

		.search-area{
			text-align: left;

			.search-box{
				height: 44px;
				text-align: left;
				padding:5px;
				border-radius: 4px;
			}
		}
	}
	.new-item-area{
		text-align: right;
	}
}


.wrapper-content{
	padding: 10px;
	overflow-y: scroll;
	overflow-x: hidden;
}

// .address-details{
// 	border: 1px solid $border-color-dark;
// 	padding: 20px 10px;
// 	margin-bottom: 20px;
// }
