@import "../../../../assets/styles/_colors.scss";
@import "../../../../assets/styles/_button.scss";
@import "../../../../assets/styles/common.scss";


#new-payment-wrapper{
	font-family: 'Montserrat', sans-serif;
	background-color: $background-color-dark-light;
	color: $text-color-light;
	height: 100%;
}
.input-form {
	font-weight: bold;
	margin-top: 40px;
	text-align: center;
	margin-left: 40px;
	padding: 10px;
	width: 50vw;
}
