<div id="bill-details-wrapper">
	<div class="search-header">
		<div class="row">
			<div class="search-area col">
				<div class="input-form">
					<div class="input-group">
						<input type="text"placeholder="Search Bills" class="search-box form-control">
						<button type="submit" class="btn button-filter">Filter Options</button>
					</div>
				</div>
			</div>
			<div class="new-item-area col">
				<a routerLink="New Bill"><button class="btn button-save">New Bill</button></a>
				<button class="btn button-filter">Export</button>
			</div>
		</div>
	</div>

	<div class="title-header">
		<span id="header-text">Bill Details</span>
	</div>

	<div class="table-wrapper">
		<table class="table table-striped table-dark">
			<thead>
				<tr>
					<th *ngFor="let billDetailsTableHeader of billDetailsTableHeaders" scope="col">{{billDetailsTableHeader}}</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let row of rows">
					<td *ngFor="let billDetailsTableColumn of billDetailsTableColumns">
						<span id={{billDetailsTableColumn}}></span>
					</td>
					<td>
						<button type="button" class="btn button-primary">View/Edit</button>
						<button type="button" class="btn button-cancel">Delete</button>
					</td>
				</tr>

			</tbody>
		</table>
	</div>


</div>
